fieldset {
  width: 400px;
  height: 1000px;
  margin-left: 550px;
  border: #42124d solid;
}

form {
  margin: 0px 20px 0 15px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 10px;
}

button {
  background-color: #AA336A;
  color: #f0f0f0;
  border: #42124d solid;
  border-radius: 10px;
  /* font-weight: bold; */
  width: 30%;
  height: 30px;
  margin-left: 140px;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
}
nbutton {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

label {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 14px;
}

#input {
  width: 220px;
}

.bbox {
  border: #42124d solid;
  line-height: 20px;
  padding: 5px 0px 5px 0px;
}

.td {
  background-color: #3d0b52;
  color: #fcfcfc;
  vertical-align: bottom;
  text-align: center;
  padding: 3px 15px 5px 15px;
  line-height: 20px;
  border: #42124d 1px solid;
  border-width: 1.9px;
}

.gender {
  margin-left: 15px;
  margin-right: 10px;
}

.error {
  padding-left: 20px;
  color: red;
}

.empty {
  padding-left: 1px;
}
.file {
  margin-left: 15px;
  margin-right: 10px;
}